.todo-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 3%;
  row-gap: 40px;
  justify-content: flex-start;
}

.todo-card {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-basis: 30%;
  border: 1px solid black;
  padding: 5px;
}

.todo-text {
  flex-grow: 1;
}

.todo-text.completed {
  text-decoration: line-through;
}

.add-todo {
  margin-top: 20px;
}

.body-container {
  display: flex;
  gap: 16px;
}
